<div style="height:110px; background-color: #f1f1e6;"></div>

<div class="header-div">
    <div class="header-content">
        <div class="left-header">
            <p style="padding-top:0; margin-top:2%; margin-bottom:1%;">Sandip Sen</p>
            <img src="/logo.png" style="width: 60%;">
        </div>

        <div class="right-header">

            <ul style="padding-left:2%; padding-top: 2%; align-items: center; float:right; width:100%;">
                <li style="display: inline-block;">
                    <div class="headerLink">Home</div>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li style="display: inline-block;">
                    <div class="headerLink">Publications</div>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp; <!-- TODO Drop down for the year -->
                <li style="display: inline-block;">
                    <div class="headerLink">Projects</div>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li style="display: inline-block;">
                    <div class="headerLink">Students</div>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li style="display: inline-block;">
                    <div href=index.html class="headerLink">Gallery</div>
                </li>

            </ul>

        </div>
    </div>
    <div style="height: 4px;">
        <img src="sep5.png" style="width: 100%; background-color: transparent; position:relative; top: -10px;">

    </div>
</div>