<div class="footer">
    <div id="sepbg" style="background-color: transparent;height: 10; width: 100%;position: relative; top:0">
        <img src="sep5.png" style="width: 100%; position:relative; top:-11px">
    </div>
    <div class="footer-content" style="display: flex;">
        <div style="width: 60%; text-align: left; float: left; margin-left: 2%; color: #f1cb59; font-size: 16;">
            Tandy School of Computer Science<br>
            Rayzor Hall<br>
            The University of Tulsa<br>
            800 S. Tucker Drive<br>
            Tulsa, OK 74104<br>
            E-mail: <a href=# style="font-size: 16;">sandip-sen &#64; utulsa.edu</a><br>
            Phone: (918) 631-2985<br>
            Fax: (918) 631-2927 <br>
        </div>
        <div style="width: 30%; text-align: right; float: right; padding-right: 20; padding-top: 60;">
            <img src="tulogoinverse.png" style="width:100%;">
        </div>
    </div>


</div>