<div id="container" style="background-color: #f1f1e6;">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <div class="body">
        <div class="profile">
            <img style=" width: 60%;" src="profile.png">
            <div id="info" style="width: 100%; float: right; text-align: left;">
                <p
                    style="font-family: 'Playfair Display'; font-size: 36px; margin-top: 0; margin-left: 0; margin-bottom:0px;">
                    Sandip Sen</p>
                <p style=" font-size: 24px; margin-left: 0; padding: 0px; margin-top:0.2em;margin-bottom:0.2em;">
                    Professor</p>
                <p style=" font-size: 1em; margin-left: 0; margin-top: 0px;">Tandy School of
                    Computer Sciences<br />The University of Tulsa</p>
                <!--<img src="img/tulogo.png" style="margin-left: 50;">-->
                <p style="font-size: 1em; margin-left: 0; ">
                    918 - 631 - 2985 <br />
                    sandip-sen &#64; utulsa.edu
                </p>
            </div>
            <div class="profile-item">
                <p style="font-size: 24; margin-left: 0; margin-top: 1em; margin-bottom: 1em;">
                    <a href="#" style="color:#004b8e" onMouseOver="this.style.color='#f1cb59'"
                        onmouseout="this.style.color='#004b8e'">Vita</a>
                </p>


            </div>
            <div class="profile-item">
                <p style="font-size: 24; margin-left: 0; margin-top: 10px; margin-bottom: 0px;">
                    Research Interests
                </p>
                <ul style="font-size: 18; margin-top: 5px; list-style-type: '- ';">
                    <li>Intelligent Agents</li>
                    <li>Multiagent Systems</li>
                    <li>Genetic Algorithms and <br /> Genetic Programming</li>
                    <li>Machine Learning</li>
                </ul>

            </div>

        </div>

        <div id=" content-main" style="width: 70%; float:right; text-align: left; position: relative;">
            <div id="homecontent" style="width: 100%; word-wrap: break-word;">
                <div style=" margin-right:20%;">
                    <h3 style="font-size: 2em; margin-top: 0.5em; margin-bottom: 0.5em;">About:</h3>

                    <p>
                        Selected recent publications (Chronological listings of papers from our group can be
                        found in
                        DBLP, ArnetMiner, and
                        ResearchGate sites):
                    </p>
                    <p>
                        I was elected to be a Senior Member of the Association for the Advancement of Artificial
                        Intelligence (AAAI) in July, 2014.

                        Some of my projects have been funded by the National Science Foundation (including a
                        CAREER
                        award in 1997), NASA and
                        the Advanced Research Projects Agency.

                        I served as the program co-chair of the Fifth International Conference on Autonomous
                        Agents held
                        between May 28 and
                        June 1, 2001 in Montreal, Canada. I also served as the General Co-Chair of the Ninth
                        International Conference on
                        Autonomous Agents and Multiagent Systems held between May 10--14, 2010 in Toronto,
                        Canada. Over
                        the last few years I
                        have chaired several workshops.

                        MultiAgent SysTEms ReSearch (MASTERS) Group (aka DAI-Hards): Intelligent agents research
                        group
                        at the University of
                        Tulsa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>