.spinner {
    margin-left: 45%;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e0e0d5;
    padding-bottom: 10px;
}

.table-header {
    font-family: 'Open Sans';
    font-size: 2em;
    margin-bottom: 5px;
    border-radius: 1px;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-color: #999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.sort-option {
    border-left: 2px solid #999;
    padding: 10px;
    min-height: 100%;
    display: flex;
}

select {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
    margin-left: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}